.top
{
  background-color: red;
  height: 200px;
  width: 200px;
  display: inline-block;
  position: relative;
  left:400px;

}

.middle
{
  background-color: blue;
  height: 200px;
  width: 200px;
  display: inline-block;
  position: relative;
  right: 200px;

}

.bottom
{
  background-color: yellow;
  height: 200px;
  width: 200px;
  display: inline-block;
  position: relative;
  right: 200px


}
